div(data-role='page', data-theme='b')
	include includes/header

	div(data-role='content')
		form(method='get', action='viewCourse')
			div(data-role='fieldcontain')
				label(for='course') Classes:
				select(name='course', id='course')
					!{classesSelect}
			input(type='hidden', name='term', value='#{term}')
			input(type='hidden', name='subject', value='#{subject}')
			input(type='hidden', name='courseTitle')
			input(type='hidden', name='ver', value='3')
			input(data-theme='e', type='submit', onclick='setCourseTitle()', value='View Course')
			a(data-role='button', data-direction='reverse', data-prefetch, href='/') Back

	include includes/footer
