div(data-role='page', data-theme='b', id='courses')
	include includes/header

	div(data-role='content')
		h2 Select a Course
		ul(data-role='listview', data-inset='true', data-theme='c', data-filter='true', data-filter-placeholder='Input a number to filter...')
			each session in sessions
				li(data-role='list-divider')
					#{session.name}
				each course in session.courses
					li(href='viewCourse?course=#{course.code}', onclick='setCourseTitle()')
						a #{course.title}

		a(data-role='button', data-direction='reverse', data-prefetch, href='/#indexSubjectsPage?term=#{term}', data-ajax='false') Back

	include includes/footer
