div(data-role='page', data-theme='b')
	include includes/header

	div(data-role='content')
		!{html}

		a(data-rel='back', data-role='button', data-direction='reverse', data-prefetch) Back

	include includes/footer
