div(data-role='page', data-theme='b', id='indexTermsPage', data-dom-cache='true')
	include includes/header

	div(data-role='content')
		h2 Select a Term
		ul(data-role='listview', data-inset='true', data-theme='c')
			each term in terms
				li
					a(href="#indexSubjectsPage?term=#{term.val}") #{term.text}

	include includes/footer	

div(data-role='page', data-theme='b', id='indexSubjectsPage', data-dom-cache='true')
	include includes/header

	div(data-role='content')
		h2 Select a Subject
		ul(data-role='listview', data-inset='true', data-theme='c', data-filter='true', data-filter-placeholder='Input a subject to filter...')
			each subject in subjects
				li(href='listClasses?subject=#{subject.val}', onclick='setTerm()')
					a #{subject.text}

		a(data-role='button', href='/', data-direction='reverse') Back

	include includes/footer	
