div(data-role='page', data-theme='b')
	include includes/header

	div(data-role='content')
		form(method='get', action='listClasses')
			div(data-role='fieldcontain')
				label(for='term') Term:
				select(name='term', id='term') !{terms}
			div(data-role='fieldcontain')
				label(for='subject', class='ui-input-text') Subject:
				select(name='subject', id='subject', data-role='none') !{subjects}
			input(data-theme='e', type='submit', value='Get Classes')

	include includes/footer	
