!!!
html
	head
		title= title

		// sets the screen width to the pixel width of the device
		meta(name='viewport', content='width=device-width, initial-scale=1, maximum-scale=1, minimum-scale=1, user-scalable=0')

		// import jQuery Mobile
		link(rel='stylesheet', href='http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.css')
		script(src='http://code.jquery.com/jquery-1.6.4.min.js')
		script(src='http://code.jquery.com/mobile/1.0.1/jquery.mobile-1.0.1.min.js')

		// load custom css
		link(rel='stylesheet', href='/stylesheets/style.css')

		// import custom scripts
		script(src='/javascripts/main.js')

		// Google Analytics
		script(type='text/javascript')
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-30126195-1']);
			_gaq.push(['_setDomainName', 'bruinregistrar.com']);
			_gaq.push(['_setAllowLinker', true]);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
			})();

	body
		div(data-role='page', data-theme='b') 
			// header
			div(data-role='header', data-theme='b')
				div
					h4=title

			!{body}

			// footer
			div(data-role='footer', data-theme='b')
				div
					h4 Created by 
						a(href='mailto:stnguyen90@g33kdev.com?Subject=Bruin%20Registrar') Steven Nguyen
