body 
{
	padding: 50px;
	font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

	background: #CCC;
}

a 
{
	color: #00B7FF;
}

.ui-header div, .ui-footer div
{
	text-align: center;
}

.ui-footer div h4 a.ui-link
{
	color: white;
}

.ui-footer div h4 a.ui-link:link
{
	color: white;
}

.ui-footer div h4 a.ui-link:visited
{
	color: white;
}

.ui-footer div h4 a.ui-link:hover
{
	color: white;
}

.ui-footer div h4 a.ui-link:active
{
	color: white;
}

.courseheadbold, .bold
{
	font-weight: bold;
}
